@font-face {
  font-family: "TTCommons";
  src: url("/blog/fonts/ttcommons.woff2") format("woff2");
  font-weight: 450 600;
}

::-moz-selection {
  background: #f26200;
  color: white;
}
::selection {
  background: #f26200;
  color: white;
}

main {
  /* bump up font size in main area */
  font-size: 1.2em;
}

h1 {
  font-size: var(--chakra-fontSizes-4xl);
}

html {
  scroll-behavior: smooth;
}

.toc-title {
  margin-top: 0.5rem;
}
.toc {
  ul {
    list-style: none;

    ul {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }
}

.blog-post [id] {
  scroll-margin-top: 2rem;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  line-height: 1.2;
  margin: 1.5em 0 0.5em;
}

.blog-post h2 a,
.blog-post h3 a,
.blog-post h4 a,
.blog-post h5 a,
.blog-post h6 a {
  color: var(--chakra-colors-gray-100);
  text-decoration: none;
}

.blog-post h2 {
  font-size: var(--chakra-fontSizes-3xl);
}

.blog-post h3 {
  font-size: var(--chakra-fontSizes-2xl);
}

.blog-post h4 {
  font-size: var(--chakra-fontSizes-xl);
}

.blog-post h5 {
  font-size: var(--chakra-fontSizes-lg);
}

.blog-post h6 {
  font-size: var(--chakra-fontSizes-md);
}

.blog-post-content blockquote,
.blog-post-content dl,
.blog-post-content dd,
.blog-post-content hr,
.blog-post-content figure,
.blog-post-content p,
.blog-post-content pre {
  margin: 1em 0;
}

.blog-post-content p {
  margin: 0.75em 0;
}

.blog-post-content p img {
  margin: 1em auto;
}

.blog-post-content ul {
  margin-left: 0.25rem;
}

.blog-post-content ol {
  margin-left: 1.3rem;
}

.blog-post-content li {
  margin: 0.35em 0;
}

.blog-post-content blockquote {
  background: rgba(255, 255, 255, 0.1);
  border-left: 0.2em solid var(--chakra-colors-gray-500);
  padding: 0.25em 1rem 0.25em 1.4rem;
}

.blog-post-content code,
.blog-post-content pre {
  /* system font stack */
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace; /* system font stack */
  font-size: 0.9em;
}

.blog-post-content code {
  background: var(--chakra-colors-gray-800);
  border-radius: 0.2em;
  display: inline-block;
  padding: 0 0.3em;
}

.blog-post-content img {
  margin: 0 auto;
}

#search input#search-input:focus + label[for="search-input"],
#search:focus-within label[for="search-input"] {
  /* visually hide label */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}
